
<table id="user_table">
  <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr class="search_row">
              <td><input id="search" name="search"></input></td>
              <td><div data-role="submit">Submit </div></td>
    </tr>
      <tr class="new_user_row">
        <td><input id="firstname" name="firstname"></input></td>
        <td><input id="lastname" name="lastname"></input></td>
        <td><div data-role="submit">Submit </div></td>
      </tr>
  </thead>
  <tbody></tbody>
</table>